* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #222;
    background: #ffffff;
}

header {
    border-bottom: 1px solid #eee;
    padding: 20px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 22px;
}

nav a {
    text-decoration: none;
    color: #444;
    margin-left: 25px;
}

.hero {
    padding: 120px 10%;
    max-width: 1000px;
}

.small-title {
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.hero p {
    max-width: 650px;
    font-size: 18px;
    color: #666;
}

.buttons {
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 12px 22px;
    margin-right: 10px;
    text-decoration: none;
    background: #222;
    color: white;
    border-radius: 6px;
}

.secondary {
    background: white;
    color: #222;
    border: 1px solid #222;
}

section {
    padding: 80px 10%;
}

section h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.project {
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.project p {
    color: #666;
    max-width: 750px;
}

.tools {
    margin: 15px 0;
    font-weight: bold;
}

.project-button {
    display: inline-block;
    margin-right: 10px;
    padding: 9px 16px;
    border: 1px solid #222;
    text-decoration: none;
    color: #222;
    border-radius: 5px;
}

.skills span {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 20px;
}

footer {
    padding: 30px 10%;
    border-top: 1px solid #eee;
    color: #777;
}

@media (max-width: 700px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        margin: 5px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero h2 {
        font-size: 24px;
    }

}
